.section {
  width: 100%;
  margin: 0;
  background: #4F6F6F;
}

.container {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.icons {
  display: flex;
  gap: 20px;
  margin: 0;
}

.svg {
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  transition: transform .3s ease;
}

.twitter {
  background-image: url('../../../assets/images/icons/TwitterX.svg');
}

.youtube {
  background-image: url('../../../assets/images/icons/YoutubeFill.svg');
}

.telegram {
  background-image: url('../../../assets/images/icons/TelegramOutline.svg');
}

.svg:hover {
  transform: translateY(-5px);
}