.section {
  width: 100%;
  min-height: 72vh;
  position: relative;
  margin: 0;
  background: #4F6F6F;
}

.container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.list {
  width: 86.1%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); /* Колонки, автоматически адаптирующиеся */
  grid-template-rows: auto;
  margin: 100px auto 0;
  gap: 21px 19px;
  list-style: none;
  padding: 0;
}

.item {
  border-radius: 8px;
  border: 1px solid #7A8D8D;
  box-shadow: 0 .5rem 1.2rem rgba(0, 0, 0, .2);
  padding: .75rem 1.25rem;
  background-color: #5a7f7f;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  transition: box-shadow .3s ease;
}

.item:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, .4);
}


.heading {
  font-size: 24px;
  font-family: var(--font-inter-medium);
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: var(--font-code-light);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.svg {
  width: 40px;
  height: 40px;
  background-image: url('../../../assets/images/icons/CalendarWeekBegin.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.second {
  background-image: url('../../../assets/images/icons/SuccessStandardLine.svg');
}

.third {
  background-image: url('../../../assets/images/icons/BaselineMoving.svg');
}

.fourth {
  background-image: url('../../../assets/images/icons/path-location-svgrepo-com.svg');
}

@media screen and (max-width: 540px) {
  .list {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
}